html, body, .grid {
    height: 98%;
}

div {
    border: 1px solid black;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.element {
    flex: 1;
}

.element.touched{
    background-color: gray;
}